
#root{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.button{
  margin: 0 10px;
}
.light-button{
  color: black;
}
.dark-button{
  color: white;
}
.hidden {
  display: none;
}
.header{
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  width: 30%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  background-color: #219fd6;
  color: white;
}
.FotoPerfil{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.main{
  width: 30%;
  height:100%;
  margin-top: -10px;
}
.Info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.datos{
  display: flex;
  flex-direction: column;
}
.date{
  color: #144866;
  text-decoration:solid ;
}
.Card{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #ffffff;
  border-radius: 10px;
}


.UserInfo{
 width: 100%;
 padding: 2%;
 border: 1px solid rgba(0, 0, 0, 0.425);
 background-color: #c0e4f7;
color: rgb(100, 99, 99);
}
.imgContent{
  width: 100%;
  height: 100%;
}
.reactions{
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: #219fd6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btnIcon{
  background: none;
  border: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modalContent textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}
.stats{
  display: flex;
  flex-direction: row;
  color: #0e2e43;
}

.modalContent button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
}

.modalContent button:last-child {
  background-color: #dc3545;
}




@media screen and (max-width:1024px){


  #root
  {
    justify-content: start ;
  }

  .Card
  {
    width: 250%;
  }

}